<div class="container">
    <!--주소창으로 보낼 수 있는 건 전부 get, 그 외 데이터를 첨부하면 post-->
    <form action="/post/create" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleFormControlInput1">제목</label>
        <input name="input_title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="제목을 입력하세요">
      </div>
      
      <div class="form-group">
        <label for="exampleFormControlTextarea1">내용</label>
        <textarea name="input_content" class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="내용을 입력하세요"></textarea>
      </div>
      
      <input name="image" type="file" accept="image/*">
      <!--이미지만 허락-->
      <button type="submit" class="btn btn-dark">작성</button> 
    </form>
</div>